<div class="menu">
  <a href="/" class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
     <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
<h2 class="text-light text-center">Register</h2>
<%= link_to "Next", new_user_session_path, class: "text-light text-center"%>
</div>
<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %> 
  <div class="bg-light mt-5 p-3">
    
    <%= f.text_field :name, placeholder: "Full Name", autocomplete: "name", class:"form-control mt-2 mb-2 opacity-75" %>
     <hr />
    
    <%= f.email_field :email,placeholder: "Email", autocomplete: "email", class:"form-control mt-2 mb-2 opacity-75" %> 
     <hr />
    <%= f.password_field :password, placeholder: "Password (6 character minimum)", autocomplete: "new-password", class:"form-control mt-2 mb-2 opacity-75" %> 
     <hr />
    
    <%= f.password_field :password_confirmation,placeholder: "Password confirmation", autocomplete: "new-password", class:"form-control mt-2 mb-2 opacity-75" %> 
    </div>
    <%= f.submit "SIGN UP", class:"btn btn-primary log-btn1 fw-bold mt-5 center" %>
   
<% end %> 

</div>
