<%= form_with model: @entity, url: entities_path, method: :post do |f| %>
    <% if @entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
        <% @entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
    <div class="bg-light p-3">
     <%= f.text_field :name, placeholder: "Name", class:"form-control  opacity-75" %> 
       <hr />
     <%= f.number_field :amount, step: "0.01", required:true, placeholder: 'Amount', class:"form-control  opacity-75"  %> 
       <hr /> 
      <%= f.select :category_ids, @categories.to_a.map { |category| [category.name, category.id, selected: @category_id == category.id] }, {include_blank: false}, { multiple: true, required: true} %>
       
     <%= f.hidden_field :category_id, value: @category_id %> 
      
    </div> 
     <%= f.submit "Create Transaction", class:"btn btn-primary log-btn1 fw-bold mt-2 mb-3 center" %> 

     <div class="alert alert-warning">
     <p >Improtant Note:</p >
     <i >User can select more than one category</i><br />
     <i >Previeous category already selected</i>
     </div>
<% end %>