<div class="menu">
<svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg>
<h2 class="text-light text-center">Change your password</h2>
<%= link_to "Next", new_user_session_path, class: "text-light text-center"%>
</div>
<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %> 

    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control mt-2 mb-2" %> 
  
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mt-2 mb-2" %> 
   
    <%= f.submit "Change my password", class:"btn btn-outline-warning" %>
  
<% end %> 
<button class="btn btn-outline-primary mt-5 center"><%= render "devise/shared/links" %></button>
</div>