<div class="menu">
   <%= render partial: "categories/navbar" %>
   <h2 class="text-light text-center">Categories</h2> 
   <% if(user_signed_in?) %>
     <%= button_to "Sign out", destroy_user_session_path, :method => :delete, data: {turbo: false}, class: "text-light text-center me-3"%>
   <% end %> 
</div>
<div class="col-12 main_con">
  <div>
   <% if @categories.length > 0 %> 
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %> 
     <h3 class="col-12 row row-cols-2 p-3  bg-body opacity-75"><span>Total amount:</span> <span class="text-end">$<%= Category.total_amount(current_user.id)%></span></h3>
    <div>
        <% @categories.each do |category| %> 
          <div class="col-10 bg-body offset-1 row row-cols-2 shadow p-3 mt-3  opacity-75">
            
              <img src="<%= category.icon%>" class="col-4">
              <div class=" col-8">
              <div class="  row row-cols-2 text-secondray " >
              <%= link_to category.name , category_path(category.id), class: "color" %>
              <p id="amount" class="text-end text-dark">$<%= category.entities.sum(:amount)%></p>
              </div>
              <hr />
              <div class=" row row-cols-2">
              <small ><%= category.created_at.strftime("%d %b %Y") %></small>
               
              <%= button_to "Delete", @category, method: :delete, class:"btn btn-primary btn-sm"%>
              </div>
              </div></div>
            <% end %>
    </div>
  </div>
<% else %>
<i class="welcome text-center">Welcome To The Category Page No Category Exists Please Added Once!</i> 
<%end %> 
</div>
<div class="btn_dev1 fixed-bottom p-4 col-12">
 <%= link_to 'ADD NEW CATEGORY', new_category_path, class:"btn btn-outline-light pt-3 pb-3 log-btn" %>
</div>
