<div class="menu">
   <%= render partial: "categories/navbar" %>
   <h2 class="text-light text-center">Categories</h2> 
   <% if(user_signed_in?) %>
     <%= button_to "Sign out", destroy_user_session_path, :method => :delete, data: {turbo: false}, class: "text-light text-center me-3"%>
   <% end %> 
</div>
<div class="col-12 main_con">
   <% if @categories.length > 0 %> 
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %> 
   <h3 class="row row-cols-2 p-3  bg-body opacity-75"><span>Total amount:</span> <span class="text-end">$<%= Category.total_amount(current_user.id)%></span></h3>
    <div>
        <% @categories.each do |category| %> 
          <div class="col-10 offset-1 row row-cols-3 shadow p-3 mt-3 bg-body opacity-75">
            
              <img src="<%= category.icon%>" >
              <div class=" text-secondray" >
              <%= link_to category.name , category_path(category.id) %><br/><br/>
              <small ><%= category.created_at.strftime("%d %b %Y") %></small>
              </div>
              <div>
              <p id="amount" class="text-end">$<%= category.entities.sum(:amount)%></p>
              <%= button_to "Delete category", @category, method: :delete, class:"btn btn-primary btn-sm"%>
              </div>
              </div>
            <% end %>
    </div> 
<% else %>
<i class="welcome text-center">Welcome To The Category Page No Category Exists Please Added Once!</i> 
<%end %> 
</div>
<div class="btn_dev1 fixed-bottom">
 <%= link_to 'ADD NEW CATEGORY', new_category_path, class:"btn btn-outline-light pt-3 pb-3 log-btn" %>
</div>