<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5">
<h3 class=" text-secondary fw-semibold text-center"> Add New Category</h3> 
<%= form_with model: @category, url: categories_path, method: :post do |f| %>
    <% if @category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
     <%= f.label :name %> 
     <%= f.text_field :name, placeholder: "Name", autofocus: true, class:"form-control mt-2 mb-2 opacity-75" %> 

     <%= f.label :icon %> 
     <%= f.file_field :icon, placeholder: "Icon Link", class:"form-control mt-2 mb-2 opacity-75"  %> 
      
     <br /> 
     <%= f.submit "Create Category", class:"btn btn-outline-secondary fw-bold" %> 
  
<% end %>
<%= link_to "Back to category list", categories_path, class:"offset-8 text-secondary" %>
</div>
