<div class="menu">
  <a href="/categories" class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
<h2 class="text-light text-center">Details</h2>
<span><%= link_to "List of All", entities_path, class: "text-light text-center"%></span>
</div>

<div class="mb-3 col-12 row row-cols-2 p-3  bg-body opacity-75"> 
<h5><img src="<%= @category.icon%>" class="image ml-1" ><span><%= @category.name %></span></h5>  
</div>
<div class="col-10 offset-1 mt-5 p-2"> 
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <div class="row row-cols-1 shadow p-3 mb-5 bg-body opacity-75">  

      <div class="border-bottom  mb-3"> 
        <% if @entities.empty? %>
         <h5 class="text-dark">Transactions depends to <%= @category.name %>  </h5>
          <p>No transactions have been added yet.</p>
        <% else %> 
         <h5 class="text-dark">Transactions depends to <%= @category.name %> </h5>
         <% @entities.each do |entity| %>
           <div>
            <p ><span class="text-dark">Name:</span><%= entity.name%></p>
            <div class="row row-cols-2">
            <small >created_at:<%= entity.created_at.strftime("%d %b %Y") %></small>
            <%= link_to 'Edit this Transaction', "#{edit_entity_path(entity.id)}?category_id=#{@category.id}", class:"btn btn-outline-success btn-sm" %>
           </div> </div>
         <% end %> 
       <% end %> 
      </div>  

      <div class="row row-cols-2"><h5 class="col-8">TOTAL PAYMENT:</h5><span class="text-end col-4">$<%= @category.entities.sum(:amount)%></span></div>
   </div> 
</div>
<div class="btn_dev1 fixed-bottom p-3">
 <%= link_to 'ADD NEW TRANSACTION',  "#{new_entity_path}?category_id=#{@category.id}", class:"btn btn-outline-light pt-3 pb-3 log-btn" %>
</div>